<div class='title'>
  <div>
    <button class="btn btn-info" routerLink='/pages/create' routerLinkActive='active'>Create</button><br><br>
    <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of pages">
        <td>{{page.id}}</td>
        <td>{{page.title}}</td>
        <td>{{page.content}}</td>
        <td><button routerLink='/pages/{{page.id}}' routerLinkActive='active'>Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
  (onOpen)="opened()" [cssClass]="cssClass" #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">I'm a modal!</h4>
  </modal-header>
  <modal-body>
    <ul>
      <li *ngFor="let item of items">
        <a href="#" (click)="$event.preventDefault(); selected = item">{{ item }}</a>
      </li>
    </ul>
    <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>