<div class='title'>
  <div>
    <button type="button" class="btn btn-info" (click)="modal.open()">Create</button>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <!--<th>Title</th>
        <th>Content</th>
        <th>Action</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of result">
        <td>{{page.StdID}}</td>
        <!--<td>{{page.title}}</td>
        <td>{{page.content}}</td>
        <td><button routerLink='/pages/{{page.id}}' routerLinkActive='active' class="btn btn-danger">Edit</button></td>-->
      </tr>
    </tbody>
  </table>
</div>
<!--<modal (onClose)="closed()" (onDismiss)="dismissed()"
  (onOpen)="opened()" [cssClass]="cssClass" #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">I'm a modal!</h4>
  </modal-header>
  <modal-body>
    <ul>
      <li *ngFor="let item of items">
        <a href="#" (click)="$event.preventDefault(); selected = item">{{ item }}</a>
      </li>
    </ul>
    <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>-->