@import '../../theme/variables';

.header {
  background: $dark-gray1-color !important;
  padding: 1rem !important;
  width: 100% !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  box-sizing: border-box !important;
}

.brand {
  color: $white-color !important;
  text-decoration: none !important;
}

.menu {
  float: right !important;
  display: block !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;

  &__item {
    display: inline-block !important;
    vertical-align: middle !important;
  }

  &__link {
    padding: 1rem !important;
    color: $green1-color !important;
    text-decoration: none !important;
  }
}