<header class='header'>
  <nav>
    <a routerLink='' class='brand'>Mercedes lnwZa 007</a>
    <ul class='menu'>
      <li class='menu__item'>
        <a 
          routerLink='/pages'
          routerLinkActive='active'
          class='menu__link'>
          All Pages
        </a>
      </li>
      <li class='menu__item'>
        <a 
          routerLink='/about'
          routerLinkActive='active'
          class='menu__link'>
          About Us
        </a>
      </li>
    </ul>
  </nav>
</header>