<div class='title'>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of data">
          <td *ngIf="page.StdID == id"><input type="text" value="{{page.StdID}}" disabled="disabled"></td>
          <td *ngIf="page.StdID == id"><input type="text" value="{{page.StdName}}"></td>
          <td *ngIf="page.StdID == id"><input type="text" value="{{page.Email}}"></td>
          <td *ngIf="page.StdID == id"><input type="text" value="{{page.Phone}}"></td>
          <td *ngIf="page.StdID == id"><input type="text" value="{{page.Address}}"></td>
      </tr>
    </tbody>
  </table>
</div>
